<!-- 验证 {{appname}} 的帐号邮箱 -->
<p>Hi, {{username}}</p>
<p>您需要验证应用 {{appname}} 里的帐号邮箱地址 {{email}}，请点击下列链接进行确认：</p>

<p><a href="{{link}}" style="display: inline-block; padding: 10px 20px; border-radius: 4px; background-color: #3090e4; color: #fff; text-decoration: none;">验证邮箱</a></p>